BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentWidth: 4
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
BreakBeforeConceptDeclarations: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: 120
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IndentCaseLabels: true
Language: Cpp
PackConstructorInitializers: Never
PenaltyExcessCharacter: 10
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
ReferenceAlignment: Pointer
RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
Standard: Latest
SpacesInConditionalStatement: true
SpacesInParentheses: true
UseTab: Never
